@page
@model AdSetSolution.WebApplication.Pages.VehicleModel
@{
    ViewData["Title"] = Model.IsEditing ? "Editar Veículo" : "Adicionar Veículo";
}

<h2>@ViewData["Title"]</h2>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-info">
        @Model.Message
    </div>
}

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Vehicle.Id" class="form-control" />

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Vehicle.Brand">Marca</label>
                    <input asp-for="Vehicle.Brand" class="form-control" />
                    <span asp-validation-for="Vehicle.Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vehicle.Model">Modelo</label>
                    <input asp-for="Vehicle.Model" class="form-control" />
                    <span asp-validation-for="Vehicle.Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vehicle.Year">Ano</label>
                    <input asp-for="Vehicle.Year" class="form-control" />
                    <span asp-validation-for="Vehicle.Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vehicle.LicensePlate">Placa</label>
                    <input asp-for="Vehicle.LicensePlate" class="form-control" />
                    <span asp-validation-for="Vehicle.LicensePlate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vehicle.Mileage">Km</label>
                    <input asp-for="Vehicle.Mileage" class="form-control" />
                    <span asp-validation-for="Vehicle.Mileage" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" onclick="window.location.href='/'" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Vehicle.Color">Cor</label>
                    <input asp-for="Vehicle.Color" class="form-control" />
                    <span asp-validation-for="Vehicle.Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vehicle.Price">Preço</label>
                    <input asp-for="Vehicle.Price" class="form-control" />
                    <span asp-validation-for="Vehicle.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vehicle.VehicleOptionals">Opcionais</label>
                    <textarea asp-for="Vehicle.VehicleOptionals" class="form-control"></textarea>
                    <span asp-validation-for="Vehicle.VehicleOptionals" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="VehicleImgs">Imagens</label>
                    <input type="file" id="VehicleImgs" name="VehicleImgs" multiple class="form-control" accept="image/*" onchange="previewImages()" />
                    <span asp-validation-for="VehicleImgs" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Imagens a serem adicionadas</label>
                    <div id="newImagesContainer">
                    </div>
                </div>
                <div class="form-group">
                    <label>Imagens do veículo</label>
                    <div id="existingImagesContainer">
                        @foreach (var img in Model.ExistingImages)
                        {
                            <div class="existing-image">
                                <img src="@img.ImageBase64" alt="@img.FileName" style="width: 100px; height: 100px;" />
                                <form method="post" asp-page-handler="RemoveImage">
                                    <input type="hidden" name="imageId" value="@img.Id" />
                                    <input type="hidden" name="vehicleId" value="@Model.Vehicle.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function previewImages() {
            const previewContainer = document.getElementById('newImagesContainer');
            const files = document.getElementById('VehicleImgs').files;

            previewContainer.innerHTML = '';

            for (let i = 0; i < files.length; i++) {
                const file = files[i];

                if (file && file.type.startsWith('image/')) {
                    const reader = new FileReader();
                    reader.onload = function (event) {
                        const imgElement = document.createElement('img');
                        imgElement.src = event.target.result;
                        imgElement.className = "new-image"
                        imgElement.style.width = '100px';
                        imgElement.style.margin = '5px';
                        previewContainer.appendChild(imgElement);
                    };
                    reader.readAsDataURL(file);
                }
            }
        }
    </script>
}
